<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en"
        xmlns:th="http://www.thymeleaf.org"
        >
        <head>
        <meta charset="UTF-8">
        <title>Bank System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Bank System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/main}">Main</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br /><br /><br />
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Change currency </h2>
            </div>
            <div class="card-body">
                <form
                        method="post"
                        role="form"
                        th:action="@{/changeCurrency}"
                        th:object="${currency}"
                >
                    <div class="form-group mb-3">
                        <label class="form-label">AccountId</label>
                        <input
                                class="form-control"
                                id="accountId"
                                name="accountId"
                                placeholder="Enter accountID"
                                th:variable="*{accountId}"
                                type="number"
                        />
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">New currency</label>
                        <input
                                class="form-control"
                                id="newCurrency"
                                name="newCurrency"
                                placeholder="Enter new currency"
                                th:variable="*{newCurrency}"
                                type="text"
                        />
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Exchange Rate</label>
                        <input
                                class="form-control"
                                id="exchangeRate"
                                name="exchangeRate"
                                placeholder="Enter exchange rate"
                                th:variable="*{exchangeRate}"
                                type="text"
                        />
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Change</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br /><br /><br />
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Transaction</h2>
            </div>
            <div class="card-body">
                <form
                        method="post"
                        role="form"
                        th:action="@{/transaction}"
                        th:object="${transactionDto}"
                >
                    <div class="form-group mb-3">
                        <label class="form-label">PaymentCard</label>
                        <input
                                class="form-control"
                                id="paymentCard"
                                name="paymentCard"
                                placeholder="Enter accountID"
                                th:variable="*{paymentCard}"
                                type="text"
                        />
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Amount</label>
                        <input
                                class="form-control"
                                id="amount"
                                name="amount"
                                placeholder="Enter new currency"
                                th:variable="*{amount}"
                                type="text"
                        />
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Transaction Type</label>
                        <select
                                class="form-control"
                                id="transactionType"
                                name="transactionType"
                                placeholder="Enter exchange rate"
                                th:variable="*{transactionType}"
                                type="text"
                        >
                            <option value="Deposit">Deposit</option>
                            <option value="Withdrawal">Withdrawal</option>
                            <option value="Payment">Payment</option>
                            <option value="Purchase">Purchase</option>
                            <option value="Tax Payments">Tax Payments</option>
                            <option value="Tax Refund">Tax Refund</option>
                            <option value="Bill Payment">Bill Payment</option>
                            <option value="Refund">Refund</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Transfer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br /><br /><br />
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Get Customer balance</h2>
            </div>
            <div class="card-body">
                <form
                        method="post"
                        role="form"
                        th:action="@{/customerBalance}"
                        th:variable="${customerId}"
                >
                    <div class="form-group mb-3">
                        <label class="form-label">Customer Id</label>
                        <input
                                class="form-control"
                                id="customerId"
                                name="customerId"
                                placeholder="Enter customerId"
                                th:variable="*{customerId}"
                                type="number"
                        />
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Get</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html></title>
</head>
<body>

</body>
</html>