<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en"
        xmlns:th="http://www.thymeleaf.org"
        >
        <head>
        <meta charset="UTF-8">
        <title>Bank System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Bank System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/main}">Main</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br /><br /><br />
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Check if customer has active card</h2>
            </div>
            <div class="card-body">
                <form
                        method="post"
                        role="form"
                        th:action="@{/hasActiveCard}"
                        th:variable="${accountId}"
                >
                    <div class="form-group mb-3">
                        <label class="form-label">AccountId</label>
                        <input
                                class="form-control"
                                id="accountId"
                                name="accountId"
                                placeholder="Enter accountId"
                                th:variable="*{accountId}"
                                type="number"
                        />
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Check</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br /><br /><br />
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Get info about customer</h2>
            </div>
            <div class="card-body">
                <form
                        method="post"
                        role="form"
                        th:action="@{/getInfo}"
                        th:variable="${customerId}"
                >
                    <div class="form-group mb-3">
                        <label class="form-label">Customer Id</label>
                        <input
                                class="form-control"
                                id="customerId"
                                name="customerId"
                                placeholder="Enter customerId"
                                th:variable="*{customerId}"
                                type="number"
                        />
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Get</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br /><br /><br />
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Delete customer with negative balance</h2>
            </div>
            <div class="card-body">
                <form
                        method="post"
                        role="form"
                        th:action="@{/removeIfNegativeBalance}"
                        th:variable="${customerIdWithNegativeBalance}"
                >
                    <div class="form-group mb-3">
                        <label class="form-label">Customer Id</label>
                        <input
                                class="form-control"
                                id="customerIdWithNegativeBalance"
                                name="customerIdWithNegativeBalance"
                                placeholder="Enter customerId"
                                th:variable="*{customerIdWithNegativeBalance}"
                                type="number"
                        />
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br /><br /><br />
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Create account for customer</h2>
            </div>
            <div class="card-body">
                <form
                        method="post"
                        role="form"
                        th:action="@{/createAccount}"
                        th:object="${account}"
                >
                    <div class="form-group mb-3">
                        <label class="form-label">Account number</label>
                        <input
                                class="form-control"
                                id="accountNumber"
                                name="accountNumber"
                                placeholder="Enter accountNumber"
                                th:field="*{accountNumber}"
                                type="text"
                        />
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Balance</label>
                        <input
                                class="form-control"
                                id="balance"
                                name="balance"
                                placeholder="Enter balance"
                                th:field="*{balance}"
                                type="number"
                        />
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Currency</label>
                        <input
                                class="form-control"
                                id="currency"
                                name="currency"
                                placeholder="Enter currency"
                                th:field="*{currency}"
                                type="text"
                        />
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Customer id</label>
                        <input
                                class="form-control"
                                id="id"
                                name="customer"
                                placeholder="Enter customer firstName"
                                th:field="*{customer.id}"
                                type="number"
                        />
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html></title>
</head>
<body>

</body>
</html>